@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  { 
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

body{
	font-family:"sans-serif";
}
ul {
	list-style: none;
	
}
li {
	float: left;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}
li .active {
  background-color: #ffffe6;
} 
  
li a:hover:not(.active) {
  background-color: #e6b800;
} 

.topnav li{
	border-bottom: 4px solid #e6b800;
	font-style: normal;
}

.alignright{
	float: right;
	width: 260px;
	margin-left: -230px;
	padding: 30px 15px;
}
.innertext {
	margin: 20px;
	margin-top: 90px;
	float: right;
	margin-right: 60px;
	background: white;
	margin-bottom: 30px;
}
.items{
	float: right;
	width: 260px;
	margin-left: -230px;
	padding: 20px 20px;
	right: 20px;
	bottom: 100px;
	position: absolute;
}
.items a{
	color: black;
}

.contents{
	height: 100px;
	margin-top: 100px;
	padding: 0px 40px;
	margin-bottom: 40px;
}
.contents-item{
	float: left;
	margin-right: 30px;
	background: white;
	margin-bottom: 30px;
}
.submit {
	float: right;
	background-color: #4CAF50;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}




















